/* Button dimensions */
.viewer-button {
	width: 100px;
	height: 100px;
}
.bottom-button {
	width: 110px;
	height: 50px;
}

/* Start of generic layout */
#text-viewer-container {
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
}
.viewer-button,
.bottom-button {
	position: absolute;
	left: 50%;
	color: white;
	cursor: pointer;
}
.hidden {
	display: none;
}
#text-container {
	height: 0;
	width: 0;
	margin: 0 auto;
	text-align: left;
}
.text-list {
	margin: 0;
}
.text-list li {
	margin-bottom: 7px;
	padding-right: 25px;
}
#left-text {
	background-color: lightblue;
}
#right-text {
	background-color: lightgreen;
}
.viewer-intro {
	text-align: center;
	margin: 0 0 0 -40px;
	padding: 25px 14px 0 14px;
}
.double-view {
	display: inline-flex;
}
.shift-left {
	margin-left: 4px;
}
.shift-right {
	margin-left: -4px; 
}